header {
  .logo {
    img {
      width: 160px;
    }
  }
  .search {
    padding-top: 20px;
  }
  .navigation {
    padding-top: 18px;
  }
  .tools {
    padding-top: 30px;
    .pi {
      margin-right: 10px;
    }
  }
}
